#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.social-buttons-container-icons {
  display: flex;
  justify-content: space-evenly;
  height: 5rem;
  background-color: aqua;
  display: flex; 
  align-items: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.registro-container{
  background-color: white;
    color: black;
    height: 32rem;
    width: 33rem;    
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario-container {
  display: flex;
  flex-direction: column;
  width: 27rem;
  height: 11rem; 
  justify-content: center;
  background-color: aquamarine;
  text-align: center;
  gap: 5px;
}
